html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.cmp_loc{
    background-color: rgb(173, 234, 243);
    width: 25%;
    height: 300%;
    float: left;
}

.exp_pro{
    background-color: rgb(255, 255, 255);
    width: 75%;
    height: 100%;
    float: right;
}

.text_cmp{
    margin-left:14%;
    margin-right: 14%;
    font-family: Verdana;
}

.loc{
    margin-top: 25%;
    font-size: 1.0vw;
    line-height: 1.5em;
}

.bloc{
    text-align: left;
    margin-left: 5%;
}


.cmp,h3{
    font-size: 1.5vw;
    opacity: 0.7;
}

.desc_cmp,h4{
    font-size: 1.1vw;
    color: black;
}

.bs4{
    text-decoration: underline;
}

td{
    font-size: 1.2vw;
}